In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
from scipy.stats import norm, kurtosis, skew
#from wordcloud import WordCloud, STOPWORDS
pd.options.display.float_format = '{:,.1f}'.format

sns.set()
%matplotlib inline

In [2]:
unicomp = pd.read_excel('unicomp.xls')
articomp = pd.read_excel('articomp.xls')

In [8]:
unicomp.dtypes

uniname    object
19.1       object
19.2       object
19.3       object
19.4       object
dtype: object

In [3]:
articomp.head()

   article           uni1           uni2           uni3           uni4
0     19.1       Complied        NotAppl  Clarification       Complied
1     19.2        NotAppl       Complied    NotComplied  Clarification
2     19.3  Clarification    NotComplied       Complied        NotAppl
3     19.4        NotAppl  Clarification       Complied       Complied

In [127]:
unin=[]
arti=[]
stat=[]
comb=[]
for idx,row in unicomp.iterrows():
    unin.append(idx) #print("firstloop--->",str(idx))
    comb.append(idx)
    for idx1,row1 in unicomp.iteritems():
        arti.append(idx1) #print("Secondloop--->",str(idx1))
        comb.append(idx1)
        for idx2,row2 in unicomp.iterrows():
            stat.append(row2[idx1]) #print("Thirdloop--->",row2[idx1])
            comb.append(row2[idx1])

In [128]:
dfunin = pd.DataFrame(unin)
dfarti = pd.DataFrame(arti)
dfstat = pd.DataFrame(stat)
dfcomb = pd.DataFrame(comb)

In [9]:
newdict = {"aUniname":'',"bArticle":'',"cStatus": ''}

#dfalist["Status"][0]
for i in range(0,len(dfstat)):
    newdict["aUniname"] = dfalist["Status"][i]
    i = i +1
    for i1 in range(0,len(dfarti)):
        newdict["bArticle"] = dfalist["Status"][i1]
        i1 = i1 +1
        for i2 in range(0,len(dfunin)):
            newdict["cStatus"] = dfalist["Status"][i2]
            i2=i2+1

    
newdict.keys()
newdict.values()

dict_values(['uni4', 'NotAppl', 'NotAppl'])

In [145]:
#dfunin = pd.DataFrame(unin)
#dfarti = pd.DataFrame(arti)
#dfstat = pd.DataFrame(stat)
#dfcomb = pd.DataFrame(comb)

uni=[]
arti=[]
for length in dfalist.Status:
    print(length[value(length)])

AttributeError: 'DataFrame' object has no attribute 'Status'

In [36]:
dfunin

Empty DataFrame
Columns: []
Index: [uni1, uni2, uni3, uni4]

In [ ]:
#dfarti['dummy']=''
#dfunin['dummy']=''
#dfstat['dummy']=''

#dfcombnew=pd.merge(dfunin,dfarti,on='dummy')
#dfcombnew1=pd.merge(dfcombnew,dfstat,on='dummy')
#dfcombnew1.drop('dummy',axis=1,inplace=True)
#dfcombnew1.rename(columns={'Status_x':'University',"Status_y":"Status"},inplace=True)
unicomp.head()